*{
	margin: 0;
	padding:0;
}

.top-head{
	padding-top: 1vh;
	padding-left: 2vh;
}
body{
	background-color: #CBE32D;
}


.blue{
	background-color: #CBE32D;
}


.icons{
	margin-left: 70%;
	display: inline-block;
	margin-top: -70px;
	font-size: 3vh;	
}


.icon1{
	margin-left: 80%;
	display: inline-block;
	font-size: 3vh;
	margin-top: -70px;
}





