*{
	margin: 0;
	padding:0;
}

.top-head{
	padding-top: 1vh;
	padding-left: 2vh;
}

.yellow{
	background-color: green;
	display: block;
}


.blue{
	background-color: #CBE32D;
}

.icons{
	display: inline-block;
	margin-left: 150vh;
	margin-top: -70px;
	font-size: 3vh;
	
}




